<!DOCTYPE html>
<html lang="uk">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Про нас - Mercedes-Benz</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{% static 'mersedes_sait_app/about_style.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Mercedes-Benz</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'catalog' %}">Catalogue</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about' %}">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <div class="container">
        <div class="about-us">
            <h1>Про нас</h1>
            <p>З 19 жовтня 2001 року компанія ПРАТ "АВТОКАПІТАЛ" – офіційний дистриб’ютор Mercedes-Benz Group AG в Україні, що входить до ТОВ "УКРАВТО ГРУП".</p>
            <p>Основними напрямками діяльності компанії є продаж нових автомобілів легкового, комерційного та вантажного сегментів, автомобілів з пробігом, розвиток післяпродажного обслуговування та дилерської мережі. На жовтень 2021 року дилерська мережа компанії ПРАТ "АВТОКАПІТАЛ" налічує 21 представництво з продажу та обслуговування автомобілів у найбільших містах України. З вересня 2017 року у столичному дилерському центрі "Автомобільний Дім Україна "Мерседес-Бенц" функціонує спеціалізований центр продажу автомобілів Mercedes-AMG (AMG Performance Center).</p>
            <p>Гаряча лінія 0 800 500 160</p>
            <button type="button" class="btn  custom-button" data-bs-toggle="modal" data-bs-target=".modal">Дзвінок</button>

            <div class="modal" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Ще зовсім трошки</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>Наші адміни тобі подзвонять</p>
                        </div>
                        <div class="modal-footer">
                            <a href="{% url 'home' %}" class="custom-link">Зрозуміло</a>
                        </div>
                    </div>
                </div>
            </div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
</body>
</html>
