{% extends "mersedes_sait_app/base.html" %}

{% block title %}Забронювати машину{% endblock %}

{% block content %}
<style>
.car-container {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product-title {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.image_fufu {
    max-width: 500px;
    height: 300px;
    border-radius: 5px;
}

.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-label {
    font-weight: bold;
}

.custom-button {
    background-color: #151515;
    color: #E4C59E;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.custom-button:hover {
    background-color: #FFF078;
    color: #151515;
    transform: translateY(-2px);
}

.modal {
    z-index: 1050;
}

.modal-header {
    background-color: #151515;
    color: white;
}

.modal-footer {
    justify-content: center;
}

</style>

<h2 class="my-4 text-center">Забронювати машину</h2>

<div class="row">
    <div class="col-md-6">
        <div class="car-container">
            <h5 class="product-title">{{ product.name }}</h5>
            <img src="{{ product.image.url }}" class="image_fufu " alt="{{ product.name }}">
            <div class="card-body">
                <p class="product-model">{{ product.car_model }}</p>
                <div class="product-details d-flex align-items-center">
                    <p class="product-type me-3"><i class="bi bi-car-front-fill"></i> {{ product.car_type }}</p>
                    <p class="product-color"><i class="bi bi-palette"></i> {{ product.color }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-container">
            <form method="POST" action="{% url 'book_car' product.id %}">
                {% csrf_token %}
                <h5>Ваші персональні дані</h5>
                <div class="mb-3">
                    <label for="first_name" class="form-label">Ім’я*</label>
                    <input type="text" id="first_name" name="first_name" class="form-control" required placeholder="Ваше ім’я">
                </div>
                <div class="mb-3">
                    <label for="last_name" class="form-label">Прізвище*</label>
                    <input type="text" id="last_name" name="last_name" class="form-control" required placeholder="Ваше прізвище">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Адреса електронної пошти*</label>
                    <input type="email" id="email" name="email" class="form-control" required placeholder="example@example.com">
                </div>
                <div class="mb-3">
                    <label for="phone_number" class="form-label">Номер телефону*</label>
                    <input type="text" id="phone_number" name="phone_number" class="form-control" required placeholder="+380 XX XXXXXXX">
                </div>
                <div class="mb-3">
                    <label for="payment_method" class="form-label"><i class="bi bi-coin"></i> Метод оплати:</label>
                    <select id="payment_method" name="payment_method" class="form-select" required>
                        <option value="" disabled selected>Метод оплати</option>
                        <option value="hotivca">Готівкою</option>
                        <option value="paypal">PayPal</option>
                        <option value="mono">Monobank</option>
                        <option value="pumb">Pumb Bank</option>
                        <option value="privat">Privat Bank</option>
                        <option value="visa">Visa</option>
                        <option value="master">MasterCard</option>
                    </select>
                </div>


                <button type="button" class="btn  custom-button" data-bs-toggle="modal" data-bs-target=".modal">Зареєструвати</button>
            </form>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Вітаємо!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Ви здійснили резерв! Дякуємо, чекайте дзвінка від нас!</p>
            </div>
            <div class="modal-footer">
                <a href="{% url 'home' %}" class="custom-link">Зрозуміло</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}