<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello App</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'hello_app/hello_app_style.css' %}">
</head>
<body>
    <h1>Hello!</h1>

    <form method="post">
        {% csrf_token %}
        <input type="text" name="name" placeholder="Enter your name" required>
        <button type="submit">Привітати мене!</button>
    </form>

    {% if greeting %}
        <h2>{{ greeting }}</h2>
    {% endif %}
   <div>

        <button onclick="myFunction()">Check your cookies</button>

    <script>
            function myFunction() {
                let cookieString = "";
                {% for key, value in cookies.items %}
                cookieString += "{{ key }}: {{ value }}\n";
                {% endfor %}
                alert(cookieString);
            }
    </script>
   </div>

    <p>Це ваш візит номер: {{ visit_count }}</p>


</body>
</html>
