body {
    background-color: #F5F5F5;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #151515;
}

.navbar-brand {
    color: #fff !important;
}

.navbar .nav-link {
    color: #EEEEEE;
    font-size: 18px;
}

.navbar .nav-link:hover {
    color: darkgray;
}

.navbar-brand {
    color: black;
}

.navbar-brand:hover {
    color: darkgray;
}

.navbar .nav-item i {
    font-size: 24px;
    color: red;
}

.custom-img {
    border: 2px solid #ccc;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    width: 420px;
    height: 300px;
}

.accordion {
    border: 1px solid #ccc;
    border-radius: 8px;
}

.accordion-item {
    border-bottom: 1px solid #ccc;
}

.accordion-button {
    font-size: 1.1rem;
    padding: 15px;
    color: #151515;
}

.accordion-button:not(.collapsed) {
    background-color: #B7B7B7;
    color: #151515;
}

.accordion-body {
    font-size: 1rem;
    padding: 20px;
}

.text-left {
    text-align: left;
}

.custom-button {
    background-color: #151515;
    color: #F5F5F5;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    font-size: 1.1rem;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.custom-button:hover {
    background-color: #FFF078;
    color: #151515;
    transform: translateY(-2px);
}

.custom-button:active {
    transform: translateY(0);
}

.product-price {
    color: #57391e;
    font-size: 30px;
    font-weight: bold;
}

footer {
    background-color: #040303;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
    position: relative;
    width: 100%;
    margin-top: 20px;
}

footer a {
    color: #ffffff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
