<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'home_app/home_app_style.css' %}">  <!-- Змінити 'home_app' на назву твого додатку -->
    <title>Home</title>
</head>
<body>
    <h1>Welcome to the Home Page!</h1>
    <ul>
        <li><a href="{% url 'hello' %}">Hello</a></li>
        <li><a href="{% url 'calculator' %}">Calculator</a></li>
        <li><a href="{% url 'guess_game' %}">Guess Game App</a></li>
    </ul>
</body>
</html>
